{% extends 'layouts/root.html.twig' %}

{% block root %}


<form method="post">
<table class="table-models">
    <thead>
        <tr>
            <th>{% trans %}guests{% endtrans %}</th>
            <th class="c-ico">{% trans %}Edit{% endtrans %}</th>
            <th class="c-ico">{% trans %}Delete{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
        {% for guest in guests %}
        <tr>
            <td>
                <a href="{{ path('guest_edit', {id: guest.getId()}) }}">
                    <i class="material-icons">person</i>
                    {{ guest.getFullName() }}
                </a>
            </td>
            <td class="c-ico">
                <a href="{{ path('guest_edit', {id: guest.getId()}) }}" class="material-icons t-notice">
                    edit
                </a>
            </td>
            <td class="c-ico">
                <button
                    type="submit"
                    name="id[]"
                    value="{{ guest.getId() }}"
                    formaction="{{ path('guest_del') }}"
                    class="material-icons t-danger btn-rst">
                    delete
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<input type="hidden" name="csrf" value="{{ csrf_token('delete') }}"/>
</form>

{% endblock %}