{% block form_row %}
<div class="form__elem">
    {% if 'checkbox' in block_prefixes %}
        {{ form_widget(form) }}
        {{ form_label(form) }}
    {% else %}
        {{ form_label(form) }}
        {{ form_widget(form) }}
    {% endif %}
    
    {{ form_errors(form) }}
</div>
{% endblock form_row %}

{% block submit_row %}
<div class="form__btns">
    {{ form_widget(form) }}
</div>
{% endblock submit_row %}

{% block form_errors %}
    {% if errors|length > 0 %}
        <ul class="messages messages--error">
        {% if compound %}
	        {% for error in errors %}
	            <li>{{ error.message }}</li>
	        {% endfor %}
        {% else %}
            <li>{{ errors }}</li>
        {% endif %}
        </ul>
    {% endif %}
{% endblock form_errors %}